<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PPX_ Video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57689B681D86B2CE00F1EB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57689B811D86B2CE00F1EB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57689B8C1D86B2CE00F1EB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
